<div >
  <h2>Welcome to Admin Portal!</h2>
  <div class="row" style="margin:  10px;">
    <div class="col-md-12 col-lg-6 col-xxxl-3 " style="padding-top: 10px"  >
      <mat-card  style="background-color: #12a635;">
        <mat-card-header class="header">Voir la liste des Clients</mat-card-header>
        <mat-card-content >
          <div style="margin-left: 400px; margin-top:70px ;">
          <button routerLink="/userAccount" routerLinkActive="active" mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>input</mat-icon>
          </button>
        </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-12 col-lg-6 col-xxxl-3" style="padding-top: 10px;">
      <mat-card  style="background-color: #a69712;">
        <mat-card-header class="header">Voir la liste des Rendez vous</mat-card-header>
        <mat-card-content >
          <div style="margin-left: 400px; margin-top:70px ;">
          <button routerLink="/appointment" routerLinkActive="active"  mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>input</mat-icon>
          </button>
        </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-12 col-lg-6 col-xxxl-3" style="padding-top: 10px;">
      <mat-card  style="background-color: #a6122d;">
        <mat-card-header class="header">voir la liste des admins</mat-card-header>
        <mat-card-content >
          <div style="margin-left: 400px; margin-top:70px ;">
          <button routerLink="/admins" routerLinkActive="active" mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <mat-icon>input</mat-icon>
          </button>
        </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-12 col-lg-6 col-xxxl-3"style="padding-top: 10px;">
      <mat-card  style="background-color: #13b084;">
        <mat-card-header class="header">Ajouter un admin</mat-card-header>
        <mat-card-content >
          <div  style="margin-left: 400px; margin-top:70px ;">
            <button routerLink="/addAdmin" routerLinkActive="active" mat-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon >input</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

</div>
